@import '../components/Header/header.scss';
@import '../pages/Home/home.scss';
@import '../pages/Error/error.scss';
@import '../pages/EmployeeCreation//employeeCreation.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  color: black;
  font-size: 70px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
}

h1{
  margin: 0;
}