.tableBack{
    width: 95%;
    background-color: rgba(129, 160, 20, 0.1);
    margin: auto;
    padding: 10px;
    display: flex;
}

.tableContainer{
    width: 100%;
    background-color: rgba(129, 160, 20, 0.2);
    padding: 5px;
    margin: auto;
}

.tableWrap{
    width: 100%;
}