.tableBack{
    width: 95%;
    margin: 20px auto;
    display: flex;

    & tbody tr:hover{
        background-color: rgba(69,77,102,0.6);
        color: white;
        font-weight: 600;
        font-size: 25px;
    }
}

.tableContainer{
    width: 100%;
    margin: auto;
}

.tableWrap{
    width: 100%;
}