@import './components/Header/header.scss';
@import './pages/Home/home.scss';
@import './pages/Error/error.scss';
@import './pages/EmployeeCreation//employeeCreation.scss';
@import './components/Table/table.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  color: black;
  font-size: 70px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  margin: 40px 0;
}

h1{
  margin: 0;
}

@media (max-width: 818px) {
  h2{
    font-size: 60px;
    }
}

.customized_ddown{

  & > .list{
      background-color: rgba(129, 160, 20, 0.05);
  }

  & > .icon_list{
      color: rgba(129, 160, 20, 0.5);
  }

  & > .list .list_element {
      border-bottom: solid 1px rgba(129, 160, 20, 0.3);

      &:hover{
          background-color: rgba(129, 160, 20, 0.3);
      }
  }
}
