@import './components/Header/header.scss';
@import './pages/Home/home.scss';
@import './pages/Error/error.scss';
@import './pages/EmployeeCreation//employeeCreation.scss';
@import './components/Table/table.scss';
@import './components/SortIcon/sorticon.scss';
@import './pages/Employees/employees.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: black;
  font-size: 70px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  padding: 40px 0;
  margin: 0;
}

@media (max-width: 818px) {
  h1{
    font-size: 60px;
    }
}

.customized_ddown{
  
  & > .list{
    background-color: rgba(239,238,180,0.4);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: rgba(69,77,102,1);  
    font-size: 35px;
    width: 600px;
  }

  & > .icon_list{
    color: rgba(69,77,102,1);
    right: -170px;
    top:10px;
  }

  & > .list .list_element{
    border-bottom: none;

    &:hover{
      background-color: rgba(69,77,102,0.4);
      color: white;
      font-weight: 600;
    }
  }
}

@media (max-width: 1760px) {
  .customized_ddown > .list{
    width: 500px;
    margin: auto;
  }

  .customized_ddown > .icon_list{
    right: -95px;
  }
}
@media (max-width: 1450px) {
  .customized_ddown > .list{
    width: 450px;
    margin: 0;

  }

  .customized_ddown > .icon_list{
    right: 0px;
  }
}
@media (max-width: 466px) {
  .customized_ddown > .list{
    width: 350px;
  }

  .customized_ddown > .icon_list{
    right: 30px;
  }
}