@import './components/Header/header.scss';
@import './pages/Home/home.scss';
@import './pages/Error/error.scss';
@import './pages/EmployeeCreation//employeeCreation.scss';
@import './components/Table/table.scss';
@import './components/SortIcon/sorticon.scss';
@import './pages/Employees/employees.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: black;
  font-size: 70px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  padding: 40px 0;
  margin: 0;
}

@media (max-width: 818px) {
  h1{
    font-size: 60px;
    }
}
@media (max-width: 540px) {
  h1{
    font-size: 45px;
    }
}

.dropWrap > .customized_ddown {
    margin: 0;
    width: 100%;
}

.customized_ddown{

  & > .list{
    background-color: rgba(239,238,180,0.4);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: rgba(69,77,102,1);  
    font-size: 35px;
    width: 100%;
    margin: 0;
  }

  & > .icon_list{
    color: rgba(69,77,102,1);
    right: 8%;
    top: 10px;
  }

  & > .list .list_element{
    border-bottom: none;

    &:hover{
      background-color: rgba(69,77,102,0.4);
      color: white;
      font-weight: 600;
    }
  }
}