@import '../../utils/mixins';

.error_page {
    @include page_position;
}

.error_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 24%;
    height: 100vh;
}

.error_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    font-size: 40px;
    font-weight: 600;
    padding-top: 15%;
}

.error_message {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;

    & > a {
        text-decoration: none;
        color: black;
        font-weight: 400;
        font-style: italic;
        border-bottom: 1px solid black;

        &:hover{
            font-weight: 600;
            color: rgb(129, 160, 20);
        }
    }
}